{% extends 'base.html' %}
{% block body %}
  <div class="container my-4">
    <form action="/update/{{test.sno}}" method="POST">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Enter new name</label>
        <input type="name" name="name" class="form-control" value={{test.name | tojson}} id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Enter new role</label>
        <input type="desc" name="role" class="form-control" value={{test.desc}} id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Enter current age</label>
        <input type="age" name="age" class="form-control" value={{test.age}} id="exampleInputPassword1">
      </div>
      <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  {% endblock body %}